body{
    background: url(/marjan-blan-marjanblan-794QUz5-cso-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 2000px;
}

header{
    font-family: 'Mate SC', serif;
    text-align: center;
    text-decoration: underline;
    height: 50px;
    margin-top: 100px;
    font-size: 32px;
    color: rgb(97, 0, 0);
    margin-left: 120px;
}

h1{
    font-family: 'Mate SC', serif;
    text-align: center;
    text-decoration: underline;
    font-size: 27px;
    color: rgb(128, 0, 0);
    margin-left: 120px;
}

p{
    font-family: bold 'Mate SC', serif;
    text-align: center;
    margin-left: 120px;
    font-size: 27px;
}

button{
    margin-left: 50%;
    margin-right: 50%;
    width: 120px;
    height: 120px;
    background: crimson;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    padding: 30px;
    font-size: 35px;
}


a{
    color: white;
    background: crimson;
}



